/* reset */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a{
    text-decoration: none; /* tira o sublinhado */
    color: inherit; /* tira o esquema de cores */
}

ul, ol, li{
    list-style: none;
}

/* fim do reset */

body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    padding-inline: 40px;
    padding-top: 40px;
    background-image: url(./img/fundo_de_quadrado.png);
    background-size: 225vh;
    background-repeat: no-repeat;
}



header {
    height: 200px;    
    padding-top: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-inline-end: 20px;
}

.menuLogo {
    display: flex;
    align-items: center;
    width: 60vh;
    justify-content: space-between;
}

.menuLogo a{
    display: flex;
    font-size: 3vh;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif\;;
    font-weight: 450; /* espessura da fonte */
}

.containerCadastro {
    background-color: #e2e3e6;
    height: 100px;
    width: 30vh;
    display: flex;
    gap: 5px;
    align-items: center;
    padding-inline: 20px;
    border-radius: 18px;
    justify-content: space-between;
}

.containerCadastro div {
    border: none;
    text-align: center;
    width: 200px;
}

.containerCadastro button{
    border: none;
    height: 75px;
    border-radius: 15px;
    width: 10vw;
    background-color: #262626;
    color: white;
    text-align: center;
    align-items: center;
}

.containerCadastro .login{
    background-color: #e0e2e5;
    color: #000000;
}

.containerCadastro a{
    font-size: 1.75vh;
    font-weight: 380;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif\;;
    font-weight: bold;
}
header img {
    height: 7.5vh;
    padding-left: 20px;
}

main {
    display: flex;
    flex-grow: 0;
    padding-top: 0.5vh;
}



main :nth-child(1){

    height: auto;
    width: 50%;
}



.separador{
    height: auto;
    width: 50%;
}

.separador .separador1{
    height: 35%;
    width: auto;
    padding-bottom: 10px;
    padding-inline: 25px;
}

.separador2{
    height: 65%;
    width: auto;
    display: flex;
    padding: 15px;
}

.separador2 .quadrado1{
    width: 50%;
    height: 100%;
    padding: 10px;
}

.separador2 .quadrado2{
    width: 50%;
    height: 100%;
    padding: 10px;
}

.separador1 .container {
    background-color: #d7d8db;
    width: 100%;
    height: 100%;
    border-radius: 5.5vh;
}
.quadrado1 .container {
    background-color: #b386fd;
    width: 100%;
    height: 100%;
    border-radius: 5.5vh;
}

.quadrado2 .container {
    background-color: #b1f041;
    width: 100%;
    height: 100%;
    border-radius: 5.5vh;
}

.separador0 {
    padding-bottom: 2vh;
}

.separador0 .container {
    background-color: #262626;
    width: 100%;
    height: 100%;
    border-radius: 5.5vh;
    padding: 7vh;
    padding-right: 0.2px;
}

.container .conteudo {
    border-bottom-right-radius: 0.8vh;
    border-top-right-radius: 0.8vh;
    width: 100%;
    height: 100%;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    overflow: hidden;
}
.container .conteudo h2{
    font-weight: 500;
    font-size: 2vh;
    color: #b0b0b1;
    word-spacing: 0.45vh;
}

.container .conteudo h1{
    color: #FFFFFF;
    font-size: 8.5vh;
    font-weight: 500;
    word-spacing: 1.1vh;
    width: 60vh;
}

.container .conteudo button {
    display: flex;
    width: 30vh;
    height: 12%;
    margin-top: 35%;
    padding: 30px;
    border-radius: 1vw;
    align-items: center;
    justify-content: space-between;
}

.container .conteudo button img {
    padding-top: 10px;
    width: 2.7vw;
    height: 5vh;
    padding-left: 30;
}

.container button .textos {
    width: 73%;
    height: 5vh;
    align-items: center;
    justify-content: center;
}

.container button .textos h3{
    font-size: 1.5vh;
    display: flex;
    opacity: 0.26;
    font-weight: 300;
    padding-bottom: 10px;
}

.container button .textos h2 {
    display: flex;
    color: #000000;
    font-size: 2.5vh;
    
}

.container button .linha{
    width: 2.5px;
    height: 8.5vh;
    background-color: #dbdbdb;
    align-items: center;
}

.container button .container_carrinho{
    width: 80px;
    height: 50px;
    display: flex;
    justify-content: end;
    align-items: center;
}

.containerbotaoimagem {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
}

.containerbotaoimagem .fone {
    width: 70vw;
    margin-left: 5vw;
    position: absolute;
    left: 12vw;
    bottom: -6px;
}



