/* reset */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a{
    text-decoration: none; /* tira o sublinhado */
    color: inherit; /* tira o esquema de cores */
}

ul, ol, li{
    list-style: none;
}

/* fim do reset */

body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    padding: 50px;
    background-image: url(./img/fundo_de_quadrado.png);
    background-size: 150vh;
    background-repeat: no-repeat;
    overflow: hidden;
}



header {
    height: 200px;    
    padding-top: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-inline-end: 20px;
}

.menuLogo {
    display: flex;
    align-items: center;
    width: 60vh;
    justify-content: space-between;
}

.menuLogo a{
    display: flex;
    font-size: 3vh;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif\;;
    font-weight: 450; /* espessura da fonte */
}

.containerCadastro {
    background-color: #e2e3e6;
    height: 9vh;
    width: 30vh;
    display: flex;
    gap: 5px;
    align-items: center;
    padding-inline: 20px;
    border-radius: 18px;
    justify-content: space-between;
}

.containerCadastro div {
    border: none;
    text-align: center;
    width: 5vw;
}

.containerCadastro button{
    border: none;
    height: 7vh;
    border-radius: 15px;
    width: 10vw;
    background-color: #262626;
    color: white;
    text-align: center;
    align-items: center;
}

.containerCadastro .login{
    background-color: #e0e2e5;
    color: #000000;
}

.containerCadastro a{
    font-size: 1.75vh;
    font-weight: 380;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif\;;
    font-weight: bold;
}
header img {
    height: 7.5vh;
    padding-left: 20px;
}

main {
    display: flex;
    padding: 10px;
    width: 100%;
    height: 90%;
}



main :nth-child(1){

    height: auto;
    width: 50%;
}


.separador{
    height: auto;
    width: 50%;
}

.separador .separador1{
    height: 35%;
    width: auto;
    padding-bottom: 1vw;
    padding-inline: 25px;
}

.separador2{
    height: 65%;
    width: 100%;
    display: flex;
    padding-inline: 25px;
}

.separador2 .quadrado1{
    width: 50%;
    height: 100%;
    padding: 10px;
}

.separador2 .quadrado2{
    width: 50%;
    height: 100%;
    padding: 10px;
}

.separador1 .container {
    background-color: #d7d8db;
    width: 100%;
    height: 100%;
    border-radius: 5.5vh;
    overflow: hidden;
}
.quadrado1 .container {
    background-color: #b386fd;
    width: 100%;
    height: 100%;
    border-radius: 5.5vh;
}

.quadrado2 .container {
    background-color: #b1f041;
    width: 100%;
    height: 100%;
    border-radius: 5.5vh;
}

.separador0 .container {
    background-color: #262626;
    width: 100%;
    height: 100%;
    border-radius: 5.5vh;
    padding: 7vh;
    padding-right: 0.2px;
}

.container .conteudo {
    border-bottom-right-radius: 0.8vh;
    border-top-right-radius: 0.8vh;
    width: 100%;
    height: 100%;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    overflow: hidden;
}
.container .conteudo h2{
    font-weight: 500;
    font-size: 2vh;
    color: #b0b0b1;
    word-spacing: 0.45vh;
}

.container .conteudo h1{
    color: #FFFFFF;
    font-size: 8.5vh;
    font-weight: 500;
    word-spacing: 1.1vh;
    width: 60vh;
}

.container .conteudo button {
    display: flex;
    width: 35vh;
    height: 12%;
    margin-top: 27%;
    padding: 1.8vh;
    border-radius: 1vw;
    align-items: center;
    justify-content: space-between;
}

.container .conteudo button img {
    padding-top: 10px;
    width: 2.7vw;
    height: 5vh;
    padding-left: 30;
}

.container button .textos {
    width: 73%;
    height: 5vh;
    align-items: center;
    justify-content: center;
}

.container button .textos h3{
    font-size: 1.5vh;
    display: flex;
    opacity: 0.26;
    font-weight: 300;
    padding-bottom: 10px;
}

.container button .textos h2 {
    display: flex;
    color: #000000;
    font-size: 2.5vh;
    
}

.container button .linha{
    width: 2.5px;
    height: 8.5vh;
    position: relative;
    background-color: #dbdbdb;
    align-items: center;
}

.container button .container_carrinho a{
    width: 80px;
    height: 50px;
    display: flex;
    justify-content: end;
    align-items: center;
}

.containerbotaoimagem {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
}

.containerbotaoimagem .fone {
    width: 60vw;
    margin-left: 7.5vw;
    position: absolute;
    left: 12vw;
    bottom: -5px;
}

.conteudo1 {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding: 3vh;
}

.conteudo1 .headerquadrado {
    display: flex;
    width: 41vw;
    justify-content: space-between;
    padding-left: 1vw;
}
.headerquadrado h3{
    width: 48vh;
    height: auto;
    font-weight: 480;
    font-size: 0.9vw;
}

.mainquadrado {
    height: 23.8vh;
    width: 10vw;
    display: flex;
    position: relative;
}

.mainquadrado :first-child {
    width: 17.5vw;
}

.mainquadrado .texto {
    display: flex;
    height: 100%;
    width: 150%;
    font-size: 3vw;
    word-wrap: break-word;
    align-items: end;
    padding-left: 1vw;
    padding-bottom: 2vw;
}



.mainquadrado :nth-child(2) img{ /* luas */
    width: 20vw;
    height: 30vw;
    position: absolute;
    top: -15%;
    left: 175%;
}

.conteudo2 {
    padding: 2.2vh;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}

.conteudo2 .headerquadrado{
    display: flex;
    width: 18vw;
    justify-content: space-between;
    padding-left: 1vw;
}

.conteudo2 .headerquadrado h3{
    font-size: 1.6vh;
}

.conteudo2 .headerquadrado img{
    width: 1vw;
    height: 1vw;
}

.conteudo2 .mainquadrado{
    height: 42vh;
}

.conteudo2 .mainquadrado div{
    display: flex;
    height: 100%;
    width: 10%;
    font-size: 4vw;
    font-weight: 500;
    word-wrap: break-word;
    align-items: end;
    padding-left: 1vw;
    padding-bottom: 1vw;
}

.conteudo3 {
    padding: 2.2vh;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}

.conteudo3 .headerquadrado{
    display: flex;
    width: 18vw;
    justify-content: space-between;
    padding-left: 1vw;
}

.conteudo3 .headerquadrado h3{
    font-size: 1.6vh;
    width: 10vh;
}

.conteudo3 .headerquadrado img{
    width: 1vw;
    height: 1vw;
}

.conteudo3 .mainquadrado{
    height: 42vh;
}

.conteudo3 .mainquadrado div{
    display: flex;
    height: 96%;
    width: 10%;
    font-size: 4vw;
    font-weight: 500;
    word-wrap: break-word;
    align-items: end;
    padding-left: 1vw;
    padding-bottom: 1vw;
}

@media (max-width: 960px){
    body{
        padding: 20px;
    }
    header{
        display: flex;
        flex-direction: column;
    }
    .containerCadastro button{
        width: 30vh;
    }
    .containerCadastro{
        width: 40vh;
    }
    main{
        flex-direction: column;
    }
}
